extends ../../assets/pug/layouts/col-1-2/col-1-2.pug
block vars
	- levelAssets = '../';
	- pageName = "Section";
block col-1
	include ../../assets/pug/components/footer/footer.pug
	h2 section
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores debitis incidunt cupiditate, ex molestias, libero aperiam eaque sunt, in unde veniam corporis fugiat voluptates non amet iure, a deleniti aut.
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores repudiandae, quos quibusdam delectus vitae voluptates quam consequatur adipisci alias recusandae ab quasi! Saepe, voluptates, atque ex iste porro repellendus facilis!
block col-2-1
	img.img-responsive(src="https://via.placeholder.com/1000x400", alt="")
	h2 section
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores debitis incidunt cupiditate, ex molestias, libero aperiam eaque sunt, in unde veniam corporis fugiat voluptates non amet iure, a deleniti aut.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, officiis ducimus vero libero illum ab quod est. Sed, expedita, ipsum. Dolorem optio nisi corporis velit id. At fugiat omnis maiores.
block col-2-2
	img.img-responsive(src="https://via.placeholder.com/1000x400", alt="")
	h2 section
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores debitis incidunt cupiditate, ex molestias, libero aperiam eaque sunt, in unde veniam corporis fugiat voluptates non amet iure, a deleniti aut.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ipsa dignissimos consectetur, labore odit neque. Eum officia explicabo quas aspernatur nihil cumque doloribus, porro doloremque totam officiis. Explicabo, minus, similique?