.SDD-callout{
  padding: 1rem;
  background: #f1f1f1;
  border-left: solid 3px #ccc;
  margin: 15px 0;
  p:first-child,h1:first-child,h2:first-child,h3:first-child,h4:first-child{
    margin-top: 0;
  }
  p:last-child,h1:last-child,h2:last-child,h3:last-child,h4:last-child{
    margin-bottom: 0;
  }
  &--info{
     border-color: $SDD_color_info;
     background: rgba( $SDD_color_info, .05 );
    }
  &--danger{
     border-color: $SDD_color_danger;
     background: rgba( $SDD_color_danger, .05 );
    }
  &--success{
     border-color: $SDD_color_success;
     background: rgba( $SDD_color_success, .05 );
    }
  &--warning{
     border-color: $SDD_color_warning;
     background: rgba( $SDD_color_warning, .05 );
    }
}