.SDD-example{
	margin: 1rem 0;
}
.SDD-example-preview{
	border: solid 2px $SDD_gray_shade;
	padding: 1rem;
}
.SDD-example-code,.highlight{
	padding: 1rem;
    background-color: $SDD_gray_shade;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    pre{
    	overflow: auto;
    	margin: 0;
    }
}
.highlight{
	margin: 1rem 0;
}
.SDD-example-code .highlight{
	padding: 0;
	margin: 0;
}