/*Variables del layout para documentación*/

$SDD_color_base_1: #0082F3;
$SDD_color_base_2: #279BFF;

$SDD_gray_shade_base: #000000;
$SDD_gray_shade_darker: #222;
$SDD_gray_shade_dark: #4A4A4A;
$SDD_gray_shade: #f6f6f6;
$SDD_gray_shade_light: #fcfcfc;
$SDD_gray_shade_lighter: #FFFFFF;

$SDD_color_info: #07b0ff;
$SDD_color_success: #77ba1f;
$SDD_color_warning: #ffaa00;
$SDD_color_danger: #ff382d;

$SDD_color_links: $SDD_color_base_1;
$SDD_color_text: $SDD_gray_shade_base;


$SDD_color_border: $SDD_gray_shade;