extends ../assets/pug/layouts/col-2/col-2.pug
block vars
	- levelAssets = "";
	- pageName = "Inicio";
block col-1
	h2 COL 1
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum qui, ipsam in dolorem nam quia soluta explicabo tempora. Sit, maiores! Sequi neque voluptatem ipsum tempora, veritatis accusantium quis, labore amet.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum qui, ipsam in dolorem nam quia soluta explicabo tempora. Sit, maiores! Sequi neque voluptatem ipsum tempora, veritatis accusantium quis, labore amet.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum qui, ipsam in dolorem nam quia soluta explicabo tempora. Sit, maiores! Sequi neque voluptatem ipsum tempora, veritatis accusantium quis, labore amet.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum qui, ipsam in dolorem nam quia soluta explicabo tempora. Sit, maiores! Sequi neque voluptatem ipsum tempora, veritatis accusantium quis, labore amet.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum qui, ipsam in dolorem nam quia soluta explicabo tempora. Sit, maiores! Sequi neque voluptatem ipsum tempora, veritatis accusantium quis, labore amet.
	img.img-responsive(src="https://via.placeholder.com/1000x400", alt="")
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam delectus commodi facilis, praesentium. Voluptatum reiciendis eligendi id odio mollitia dolore, eius velit quasi et minus, ut expedita vitae perferendis repudiandae.
block col-2
	h2 COL 2
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum qui, ipsam in dolorem nam quia soluta explicabo tempora. Sit, maiores! Sequi neque voluptatem ipsum tempora, veritatis accusantium quis, labore amet.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum qui, ipsam in dolorem nam quia soluta explicabo tempora. Sit, maiores! Sequi neque voluptatem ipsum tempora, veritatis accusantium quis, labore amet.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum qui, ipsam in dolorem nam quia soluta explicabo tempora. Sit, maiores! Sequi neque voluptatem ipsum tempora, veritatis accusantium quis, labore amet.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum qui, ipsam in dolorem nam quia soluta explicabo tempora. Sit, maiores! Sequi neque voluptatem ipsum tempora, veritatis accusantium quis, labore amet.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum qui, ipsam in dolorem nam quia soluta explicabo tempora. Sit, maiores! Sequi neque voluptatem ipsum tempora, veritatis accusantium quis, labore amet.
	img.img-responsive(src="https://via.placeholder.com/1000x400", alt="")
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus obcaecati, provident neque aperiam maxime, aspernatur aliquid tempora unde veritatis ducimus numquam. Facere quis, minus mollitia in voluptatem molestiae libero error.