extends ../../../assets/pug/layouts/col-1-2/col-1-2.pug
block vars
	- levelAssets = '../../';
	- pageName = "subSection";
block col-1
	img.img-responsive(src="https://via.placeholder.com/1800x500", alt="")
block col-2-1
	h2 section
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores debitis incidunt cupiditate, ex molestias, libero aperiam eaque sunt, in unde veniam corporis fugiat voluptates non amet iure, a deleniti aut.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias commodi sunt cumque at harum aliquam ea deserunt. Quia, optio minus at quasi eos iste, cumque voluptatibus earum, eius maxime nemo.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in suscipit eligendi atque quibusdam rem amet doloribus cum, veritatis quidem nihil mollitia numquam! Placeat a natus accusamus dolorem officiis magnam.
block col-2-2
	h2 section
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores debitis incidunt cupiditate, ex molestias, libero aperiam eaque sunt, in unde veniam corporis fugiat voluptates non amet iure, a deleniti aut.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam impedit nobis numquam quisquam deleniti, ex aliquid fugit id eius, omnis, tempore voluptas. Suscipit, sequi ea distinctio autem dolorum. Neque, quidem.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nobis in dignissimos culpa adipisci asperiores dolorum, temporibus fugit accusamus unde rem fugiat hic ad eligendi incidunt recusandae consequatur inventore nisi.