include ../../partials/config.pug
block vars
html(lang="es")
	include ../../partials/head.pug
	body
		include ../../components/header/header.pug
		main
			.container
				.row
					.col-md-12
						block col-1
				.row
					.col-md-6
						block col-2-1
					.col-md-6
						block col-2-2
		include ../../components/footer/footer.pug